<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>listas de Receitas</title>
</head>
<body>
    <h1>Receitas Cadastradas</h1>
    {% for recipe in recipes %}

<h2>{{recipe.title}}</h2>

<p><strong>Tempo de preparo:</strong> {{recipe.cooking_time}} minutos</p>
<p><strong>Ingredientes:</strong> {{recipe.ingredients}}</p>
<p><strong>Instrucões:</strong> {{recipe.instructions}}</p>
{% empty %}
<p>Nenhuma receita cadastrada.</p>
{% endfor %}

</body>
</html>